.transActionsList_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10px;
}

.title_addBtn_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title_addBtn_container span {
	color: #fff;
	margin: 0.5rem 0;
	font-size: 1.1rem;
	font-weight: 600;
}

.btn {
	background-color: #1e293b;
	font-size: 0.9rem;
	font-weight: 600;
	width: 4rem;
	height: 2.4rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cancelBtn {
	color: #dc2626;
}

.searchInput {
	background-color: #1e293b;
	height: 3rem;
	padding: 0 10px;
	margin: 1rem 0;
	border: none;
	border-radius: 5px;
	color: #fff;
	filter: drop-shadow(5px 1px 5px #121722);
	font-size: 0.83rem;
}

.empty_transActionsList_container {
	margin: 10px;
}

.empty_transActionsList_container p {
	background: #1e293b;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
}

.transAction_template {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #1e293b;
	border-radius: 5px;
	margin: 7px 0;
	padding: 0.5rem 0;
}

.transAction_template_section1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.transAction_title {
	color: #fff;
	margin: 0 10px;
}

.income_transAction {
	border-left: 4px solid #16a34a;
}

.expense_transAction {
	border-left: 4px solid #dc2626;
}

.amount_btns_container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
}

.trash_btn {
	background-color: transparent;
	color: #dc2626;
	border: none;
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.trash_btn:hover {
	color: #b91c1c;
}

.transAction_desc {
	color: #64748b;
	margin: 10px 10px 0 10px;
	padding: 5px 0 0 0;
	font-size: 0.8rem;
	border-top: 0.5px solid #64748b;
}

.notMatchs_item {
	background-color: #1e293b;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
}

/*  ------- media query to responsive elements in TransActionList and TransActionTemplate components ------- */
/*  (min-width:640px) and (max-width: 767px) */
@media (min-width: 640px) and (max-width: 767px) {
	.title_addBtn_container span {
		font-size: 1.25rem;
	}

	.btn {
		width: 4.5rem;
		height: 2.6rem;
		font-size: 0.9rem;
	}

	.empty_transActionsList_container {
		width: 65vw;
		margin: 5px;
	}

	.empty_transActionsList_container p {
		background: #1e293b;
		padding: 14px;
		border-radius: 5px;
		color: #fff;
	}

	.transActionsList_container {
		width: 65vw;
	}

	.notMatchs_item {
		padding: 15px;
	}
}

/*  (min-width:768px) and (max-width: 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
	.transActionsList_container {
		width: 60vw;
	}

	.title_addBtn_container span {
		font-size: 1.3rem;
	}

	.btn {
		width: 4.5rem;
		height: 2.6rem;
		font-size: 0.95rem;
	}

	.empty_transActionsList_container {
		width: 60vw;
		margin: 0;
	}

	.empty_transActionsList_container p {
		background: #1e293b;
		padding: 14px;
		border-radius: 5px;
		color: #fff;
	}

	.transActionsList_container {
		width: 60vw;
	}

	.transAction_template {
		width: 100%;
		margin: 7px 0;
		padding: 1rem 0;
	}

	.notMatchs_item {
		padding: 15px;
	}
}

/*  (min-width:1024px) and (max-width: 1279px) */
@media (min-width: 1024px) and (max-width: 1279px) {
	.transActionsList_container {
		width: 60vw;
	}

	.title_addBtn_container span {
		font-size: 1.3rem;
	}

	.btn {
		width: 4.5rem;
		height: 2.6rem;
		font-size: 0.95rem;
	}

	.empty_transActionsList_container {
		width: 45vw;
		margin: 0;
	}

	.empty_transActionsList_container p {
		background: #1e293b;
		padding: 14px;
		border-radius: 5px;
		color: #fff;
	}

	.transActionsList_container {
		width: 45vw;
	}

	.transAction_template {
		width: 100%;
		margin: 7px 0;
		padding: 1rem 0;
	}

	.notMatchs_item {
		padding: 15px;
	}
}

/*  (min-width:1280px) */
@media (min-width: 1280px) {
	.transActionsList_container {
		width: 40vw;
	}

	.title_addBtn_container span {
		font-size: 1.3rem;
	}

	.btn {
		width: 4.5rem;
		height: 2.6rem;
		font-size: 0.95rem;
	}

	.empty_transActionsList_container {
		width: 40vw;
		margin: 0;
	}

	.empty_transActionsList_container p {
		background: #1e293b;
		padding: 14px;
		border-radius: 5px;
		color: #fff;
	}

	.transActionsList_container {
		width: 40vw;
	}

	.transAction_template {
		width: 100%;
		margin: 7px 0;
		padding: 1rem 0;
	}

	.notMatchs_item {
		padding: 15px;
	}
}
